In [1]:
x = True
y = not x
print(x, y)
print(int(x), int(y))

True False
1 0

In [2]:
int('1234')

1234

In [3]:
if x:
    print("I'm True")
else:
    print("I'm False")

print('Hello world!')

I'm True
Hello world!

In [4]:
1 == 1

True

In [5]:
a = 1
b = 2
maxi = a
if b > a:
    maxi = b
print(maxi)

if a < b:
    print(b)
else:
    print(a)

2
2

In [6]:
l = [1, 2.3, 'a']
print(l)
print(type(l)) # a list
print(len(l)) # number of elts
print(l[0])
# first elt

[1, 2.3, 'a']
<class 'list'>
3
1

In [7]:
for i in range(len(l)):
    print(i, l[i])

0 1
1 2.3
2 a

In [8]:
l[-2]

2.3

In [9]:
for elt in l:
    print(elt)

1
2.3
a

In [10]:
l = [-1, 3, -2.3, 7.6, 0.6, -7.986]
idx_l = []
pos_l = []
for idx, elt in enumerate(l):
    if elt >= 0:
        idx_l.append(idx)
        pos_l.append(elt)
        
print(idx_l, pos_l)

[1, 3, 4] [3, 7.6, 0.6]

In [11]:
print(l)
l.pop(2)
l

[-1, 3, -2.3, 7.6, 0.6, -7.986]

[-1, 3, 7.6, 0.6, -7.986]

In [12]:
l.extend([4, 6])

In [13]:
l

[-1, 3, 7.6, 0.6, -7.986, 4, 6]

In [14]:
l.reverse()
l

[6, 4, -7.986, 0.6, 7.6, 3, -1]

In [15]:
print(l)
l2 = []
for i in range(1, len(l)+1):
    l2.append(l[-i])
print(l2)

[6, 4, -7.986, 0.6, 7.6, 3, -1]
[-1, 3, 7.6, 0.6, -7.986, 4, 6]

In [16]:
print(l)
l2 = []
for i in range(len(l)-1, -1, -1):
    l2.append(l[i])
print(l2)

[6, 4, -7.986, 0.6, 7.6, 3, -1]
[-1, 3, 7.6, 0.6, -7.986, 4, 6]

In [17]:
l.reverse()
l

[-1, 3, 7.6, 0.6, -7.986, 4, 6]

In [18]:
l[:4]

[-1, 3, 7.6, 0.6]

In [19]:
l[1:]

[3, 7.6, 0.6, -7.986, 4, 6]

In [20]:
#1:n en R <=> list(range(1, n+1)) en python

In [21]:
l = [elt for elt in range(-2, 3)]
pos_l = [x for x in l if x > 0]

In [22]:
print(l)
pos_l

[-2, -1, 0, 1, 2]

[1, 2]

In [23]:
square_l = [x**2 for x in l if x > 0]
square_l

[1, 4]

In [24]:
square_l = []
for x in l:
    if x>0:
        square_l.append(x**2)
square_l

[1, 4]

In [25]:
pos_idx = [i for i, elt in enumerate(l) if elt > 0]
pos_idx

[3, 4]

In [26]:
l = []
for x in range(4):
    for y in range(x+2):
        l.append(x - y)
l

[0, -1, 1, 0, -1, 2, 1, 0, -1, 3, 2, 1, 0, -1]

In [27]:
[[x / 2 for x in range(y)] for y in range(2, 5)]

[[0.0, 0.5], [0.0, 0.5, 1.0], [0.0, 0.5, 1.0, 1.5]]

In [28]:
l = []
for y in range(2, 5):
    temp = []
    for x in range(y):
        temp.append(x/2)
    l.append(temp)
print(l)

[[0.0, 0.5], [0.0, 0.5, 1.0], [0.0, 0.5, 1.0, 1.5]]

In [29]:
l1 = [1, 2]
l2 = l1
l2[0] = 8
print(l1)

[8, 2]

In [30]:
'a string'

'a string'

In [31]:
" l'another "

" l'another "

In [32]:
' l\'another'

" l'another"

In [33]:
'Help!'.upper()

'HELP!'

In [34]:
'Help!'.lower()

'help!'

In [35]:
s="No57$9i74s0:!y"

In [36]:
''.join([c for c in s if c.isalpha()])

'Noisy'

In [37]:
d = {'foo': 2.3, 'bar': 'a', 'mykey': 1} # dict

In [38]:
d

{'foo': 2.3, 'bar': 'a', 'mykey': 1}

In [39]:
# ne fonctionne pas d[0]
d['mykey']

1

In [40]:
for key in d.keys():
    print(key)

foo
bar
mykey

In [41]:
for val in d.values():
    print(val)

2.3
a
1

In [42]:
for key, val in d.items():
    print(key, val)

foo 2.3
bar a
mykey 1

In [43]:
d = {'1':0, '2':1, '3':2}
d = {str(i+1):i for i in range(3)}

In [44]:
d

{'1': 0, '2': 1, '3': 2}

In [45]:
d = {str(i+1):i/2 for i in range(10)}
d

{'1': 0.0,
 '2': 0.5,
 '3': 1.0,
 '4': 1.5,
 '5': 2.0,
 '6': 2.5,
 '7': 3.0,
 '8': 3.5,
 '9': 4.0,
 '10': 4.5}

In [46]:
d2 = {key:int(val) for key, val in d.items() if int(val)==val}

In [47]:
d2

{'1': 0, '3': 1, '5': 2, '7': 3, '9': 4}

In [48]:
2 == 2.0

True

In [49]:
t = (1, 2.3, 'a') # tuple

In [50]:
t[0]

1

In [51]:
t = 1, 2.3, 'a' # packing
print(t)

(1, 2.3, 'a')

In [52]:
x, y, z = 1, 2.3, 'a'

In [53]:
def is_even(x):
    val = False
    if x%2==0:
        val = True
    return val

is_even(3) # returns False

False

In [54]:
is_even(2) # returns True

True

In [55]:
is_even(x=2)

True

In [56]:
def func():
    # this is the function body, z only exists here (locally)
    z = 2
    print(x + z)

In [57]:
x = 2
func()

4

In [58]:
def func(x):
    z = 2
    return x + z
    
    
x = 2
func(x=3)

5

In [59]:
print(x)

2

In [60]:
val = func(x=3)

In [61]:
val

5

In [62]:
def exponentiate(n):
    def power(x):
        return x**n
    return power

x = 2
power_2 = exponentiate(2)
cube = exponentiate(3)
[[exponentiate(n)(x) for n in range(9)] for x in range(3)]

[[1, 0, 0, 0, 0, 0, 0, 0, 0],
 [1, 1, 1, 1, 1, 1, 1, 1, 1],
 [1, 2, 4, 8, 16, 32, 64, 128, 256]]

In [63]:
def exponentiate(n):
    return lambda x: x ** n

[[exponentiate(n)(x) for n in range(9)] for x in range(3)]

[[1, 0, 0, 0, 0, 0, 0, 0, 0],
 [1, 1, 1, 1, 1, 1, 1, 1, 1],
 [1, 2, 4, 8, 16, 32, 64, 128, 256]]

In [64]:
exponentiate = lambda n: lambda x: x**n
[[exponentiate(n)(x) for n in range(9)] for x in range(3)]

[[1, 0, 0, 0, 0, 0, 0, 0, 0],
 [1, 1, 1, 1, 1, 1, 1, 1, 1],
 [1, 2, 4, 8, 16, 32, 64, 128, 256]]

In [65]:
def f(a, b=2):
    return a ** b

f(1)

1

In [66]:
f(1,3)

1

In [67]:
f(b=3, a=2)

8

In [68]:
f(2, b=1)

2

In [69]:
def g(a, b=2, c=3):
    return a ** b + c

In [70]:
g(1)

4

In [71]:
g(1, c=4)

5

In [72]:
g(1, 4)

4

In [73]:
def filter_negative(f, l):
    return [x for x in l if f(x) < 0]

f = lambda x: x+1
filter_negative(f, range(-4, 5))

[-4, -3, -2]

In [74]:
# 3 examples d'importation
import functools
import functools as ft
from functools import reduce

In [75]:
l = list(range(5))
list(map(f, l))

[1, 2, 3, 4, 5]

In [76]:
def my_map(f, ite):
    return [f(x) for x in ite]

my_map(f, l)

[1, 2, 3, 4, 5]

In [77]:
l = list(range(-4, 5))
l.sort(key=lambda x: x**2)

In [78]:
l

[0, -1, 1, -2, 2, -3, 3, -4, 4]

In [79]:
import functools
functools.reduce

In [80]:
import functools as foo
foo.reduce

In [81]:
from functools import reduce
reduce

In [82]:
import numpy as np
np.array([0,1])

array([0, 1])

In [83]:
class Animal:
    """Class names are CamelCase by convention."""
    def __init__(self, type, name):
        self.name = name
        self.type = type
        self.new_attr = None
        
    def present(self):
        self.new_attr = 28
        print(self.name, "is a", self.type)
        
foo = Animal("dog", "medor")

In [84]:
print(foo.type, foo.name)
# doesn't exist yet : print(foo.new_attr)
foo.present()
print(foo.new_attr)

dog medor
medor is a dog
28

In [85]:
foo.type

'dog'

In [86]:
foo.name

'medor'

In [87]:
bar = Animal("cat", "felix")
bar.present()

felix is a cat

In [88]:
foo2 = Animal(type = "dog", name = "medor")

In [89]:
foo2.present()

medor is a dog

In [90]:
class TwoDPoint:
    """
    Une classe pour representer un point (x,y) du plan. 
    Permet de calculer sa norme et la distance à un autre point de la classe. 
    """
    
    def __init__(self, x, y):
        self.x = x
        self.y = y
        
    def distance(self, b):
        """
        Calcule la distance de self au point b où b est de classe TwoDPoint.
        """
        return ((self.x - b.x) ** 2 + (self.y - b.y) ** 2) ** (1/2)
    
    def norm(self):
        """Calcul la norme euclidienne du point (distance à (0,0))."""
        zero = TwoDPoint(0, 0)
        return self.distance(zero)
    
a = TwoDPoint(x=1, y=1)
b = TwoDPoint(x=2, y=1)

a.distance(b)
a.norm()

1.4142135623730951

In [91]:
class Parrot(Animal):
    """Class names are CamelCase by convention."""
    def __init__(self, name, message):
        # super() is a special function to call constructor from
        # the mother class Animal
        super().__init__(type='Bird', name=name)
        self.message = message
        
    def repeat(self):
        print(self.name, "(a " + self.type + "):", self.message)
    
coco = Parrot("jackson", "Bonjour !") # an object of class Parrot
coco.repeat() # call the method repeat()

jackson (a Bird): Bonjour !

In [92]:
coco.present() # the method present is inherited

jackson is a Bird